@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@-webkit-keyframes scroll-topbar {
  to {
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-top: 15px;
    margin: 0;
  }
}
@keyframes scroll-topbar {
  to {
    top: 0;
    left: 0;
    padding-left: 15px;
    padding-top: 15px;
    margin: 0;
  }
}

@-webkit-keyframes scroll-logo {
  80%, 100% {
    -webkit-mask-size: var(--small-size);
            mask-size: var(--small-size);
    width: var(--small-size);
    height: var(--small-size);
  }
}

@keyframes scroll-logo {
  80%, 100% {
    -webkit-mask-size: var(--small-size);
            mask-size: var(--small-size);
    width: var(--small-size);
    height: var(--small-size);
  }
}

@-webkit-keyframes scroll-name {
  to {
    top: 15px;
    left: 60px;
  }
}

@keyframes scroll-name {
  to {
    top: 15px;
    left: 60px;
  }
}

@-webkit-keyframes scroll-bg1 {
  0%, 2%, 85%, 100% {
    opacity: 100%;
  }
  10%, 77% {
    opacity: 0;
  }
}

@keyframes scroll-bg1 {
  0%, 2%, 85%, 100% {
    opacity: 100%;
  }
  10%, 77% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll-bg2 {
  0%, 27% {
    opacity: 100%;
  }
  35%, 100% {
    opacity: 0;
  }
}

@keyframes scroll-bg2 {
  0%, 27% {
    opacity: 100%;
  }
  35%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll-bg3 {
  0%, 52% {
    opacity: 100%;
  }
  61%, 100% {
    opacity: 0;
  }
}

@keyframes scroll-bg3 {
  0%, 52% {
    opacity: 100%;
  }
  61%, 100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll-whitebar {
  to {
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 25px;
  }
}

@keyframes scroll-whitebar {
  to {
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: 50px;
    border-radius: 25px;
  }
}

@-webkit-keyframes scroll-scrolldown {
  50%, 100% {
    opacity: 0;
  }
}

@keyframes scroll-scrolldown {
  50%, 100% {
    opacity: 0;
  }
}

body {
  min-height: 500vh;
  margin: 0;
}

#whitebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-animation: scroll-whitebar 1s linear infinite;
          animation: scroll-whitebar 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#topbar {
  --size: 200px;
  --small-size: 40px;
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 50%;
  margin-left: calc(var(--size) / -2);
  top: 50%;
  margin-top: -129px;
  -webkit-animation: scroll-topbar 1s linear infinite;
          animation: scroll-topbar 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#topbar > #logo {
  -webkit-mask-image: url(logo.svg);
          mask-image: url(logo.svg);
  -webkit-mask-size: var(--size);
          mask-size: var(--size);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  width: var(--size);
  height: var(--size);
  position: relative;
  -webkit-animation: scroll-logo 1s linear infinite;
          animation: scroll-logo 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#topbar > #logo > div {
  position: absolute;
  width: inherit;
  height: inherit;
}

#topbar > #logo > .wrapper1 {
  -webkit-animation: scroll-bg1 1s linear infinite;
          animation: scroll-bg1 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#topbar > #logo > .wrapper2 {
  -webkit-animation: scroll-bg2 1s linear infinite;
          animation: scroll-bg2 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#topbar > #logo > .wrapper3 {
  -webkit-animation: scroll-bg3 1s linear infinite;
          animation: scroll-bg3 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#topbar > #name {
  text-align: center;
  top: calc(50% + 100px);
  left: calc(50% - calc(var(--size) / 2));
  position: fixed;
  width: var(--size);
  font: 400 31px 'Montserrat', sans-serif;
  -webkit-animation: scroll-name 1s linear infinite;
          animation: scroll-name 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

#topbar > #scrolldown {
  text-align: center;
  position: relative;
  top: 70px;
  font: 500 16px 'Montserrat', sans-serif;
  opacity: 60%;
  -webkit-animation: scroll-scrolldown 1s linear infinite;
          animation: scroll-scrolldown 1s linear infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  -webkit-animation-delay: calc(var(--scroll) * -1s);
          animation-delay: calc(var(--scroll) * -1s);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.logo-bg {
  background-size: 360px;
  height: var(--size);
  position: relative;
}

.writing {
  font: 400 27px 'Lato', sans-serif;
  opacity: 60%;
  margin: 0 100px 0 50px;
}

.gradient {
  width: 100%;
  height: 10em;
  padding: 0;
  font: 400 27px 'Lato', sans-serif;
}

.gradient.transparent-black {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff00), to(#000000));
  background-image: linear-gradient(#ffffff00, #000000);
}

.gradient.orange-transparent {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8C56C), to(#ffffff00));
  background-image: linear-gradient(#F8C56C, #ffffff00);
}

.desert-dig-background {
  background-image: url(background/dig.png);
  background-size: 100%;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
  margin: 0;
  width: 100%;
  padding-top: 56.25%;
}

.desert-dig-description {
  background-color: #F8C56C;
  padding: 100px;
  font: 400 20px 'Lato', sans-serif;
}

.desert-dig-description > p > a, .desert-dig-description > p > a:visited {
  color: #E07D5E;
}

.round {
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */