@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400&display=swap');

@mixin scroll-animation($animation)
    animation: $animation 1s linear infinite
    animation-play-state: paused
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;

@keyframes scroll-topbar
    to
        top: 0
        left: 0
        padding-left: 15px
        padding-top: 15px
        margin: 0

@keyframes scroll-logo
    80%, 100%
        mask-size: var(--small-size)

        width: var(--small-size)
        height: var(--small-size)

@keyframes scroll-name
    to
        top: 15px
        left: 60px


@keyframes scroll-bg1
    0%, 2%, 85%, 100%
        opacity: 100%
    
    10%, 77%
        opacity: 0

@keyframes scroll-bg2
    0%, 27%
        opacity: 100%
    
    35%, 100%
        opacity: 0
        
@keyframes scroll-bg3
    0%, 52%
        opacity: 100%
    
    61%, 100%
        opacity: 0

@keyframes scroll-whitebar
    to
        left: 10px
        top: 10px
        width: calc(100% - 20px)
        height: 50px

        border-radius: 25px
        
@keyframes scroll-scrolldown
    50%, 100%
        opacity: 0

body
    min-height: 500vh
    margin: 0

#whitebar
    position: fixed
    left: 0
    top: 0
    width: 100%
    height: 100%

    background-color: white
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)

    @include scroll-animation(scroll-whitebar)

#topbar
    --size: 200px
    --small-size: 40px

    position: fixed
    width: fit-content
    height: fit-content

    left: 50%
    margin-left: calc(var(--size) / -2)
    top: 50%
    margin-top: -129px

    @include scroll-animation(scroll-topbar)

    > #logo
        mask-image: url(logo.svg)
        mask-size: var(--size)
        mask-repeat: no-repeat

        width: var(--size)
        height: var(--size)

        position: relative

        @include scroll-animation(scroll-logo)

        > div
            position: absolute
            width: inherit
            height: inherit

        > .wrapper1
            @include scroll-animation(scroll-bg1)

        > .wrapper2
            @include scroll-animation(scroll-bg2)

        > .wrapper3
            @include scroll-animation(scroll-bg3)
            

    > #name
        text-align: center
        top: calc(50% + 100px)
        left: calc(50% - calc(var(--size) / 2))

        position: fixed
        width: var(--size)

        font: 400 31px 'Montserrat', sans-serif

        @include scroll-animation(scroll-name)

    > #scrolldown
        text-align: center

        position: relative
        top: 70px

        font: 500 16px 'Montserrat', sans-serif
        opacity: 60%

        @include scroll-animation(scroll-scrolldown)


.logo-bg
    background-size: 360px

    height: var(--size)

    position: relative


.writing
    font: 400 27px 'Lato', sans-serif
    opacity: 60%
    margin: 0 100px 0 50px

.gradient
    width: 100%
    height: 10em
    padding: 0

    font: 400 27px 'Lato', sans-serif

    &.transparent-black
        background-image: linear-gradient(#ffffff00, #000000)

    &.orange-black
        background-image: linear-gradient(#F8C56C, #000000)

    &.black-green
        background-image: linear-gradient(#000000, #74b482)

.desert-dig-background
    background: 
        image: url(background/dig.png)
        size: 100%

    image-rendering: pixelated
    
    margin: 0

    width: 100%
    padding-top: 56.25%

.desert-dig-description
    background-color: #F8C56C

    padding: 100px
    
    font: 400 20px 'Lato', sans-serif

    > p > a, > p > a:visited
        color: #E07D5E

.round
    border-radius: 20px

.depthmapping
    background-color: #000000

    padding: 100px

    font: 400 16px 'Jetbrains Mono', monospace
    color: #00ff00

    > p
        margin-bottom: 20px

        > a, > a:visited
            color: #91f2ff

    > h1
        font-weight: 200

    > .images
        margin:
            left: auto
            right: auto

        width: fit-content
        
        border: 5px solid

        image-rendering: pixelated

.wide
    width: 500px

.rts
    background-color: #74b482

    padding: 100px

    font: 400 20px 'Lato', sans-serif
    color: #000000

    > h1
        font-family: 'Montserrat', sans-serif